[parameters]
    database_driver= "pdo_mysql"
    database_host= "127.0.0.1"
    database_port= -
    database_name= "codeconsortium"
    database_user= "root"
    database_password= "animos77"

    mailer_transport= "smtp"
    mailer_host= "localhost"
    mailer_user= ""
    mailer_password= ""

    locale= "en"
    secret= "54759e97f2f7de80f7ea8a9880dcb6c3ce17848b"

    facebook_app_id= "121212"
    facebook_app_secret= "121212"
    server_host= "forum.local"

    attachment_store_folder= "/home/cordoval/sites-2/forum-ccdn/store/"
